// client ========================================

#client_part {
    padding-bottom: 50px;

    .container {

        .client_slider {
            .slick-slide {
                padding: 0 12px;
            }
        }

        .all_logo {
            padding: 50px 50px;
            background: #FAFAFA;
            border-radius: 60px;
            margin-top: -22px;

            .logo_one {
                margin-left: 115px;
                width: 95px;
            }

            .logo_two {
                margin-left: 115px;
                width: 95px;
            }

            .logo_three {
                margin-left: 115px;
                width: 95px;
            }

            .logo_four {
                margin-left: 115px;
                width: 95px;
            }

            .logo_five {
                margin-left: 115px;
                width: 95px;
            }


            .client_logo {
                margin-left: 75px;
            }
        }
    }
}

// client ========================================