// subscribe ==========================================

#subscribe {
    padding: 50px 0 20px;

    .container {
        .head {
            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 54px;
                line-height: 56px;
                color: #313131;

                span {
                    display: block;
                }
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                color: #6B6B6B;
                margin-left: 5px;
                margin-top: 30px;

                span {
                    display: block;
                }
            }
        }

        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.5px;
            color: #313131;
            padding: 15px 30px;
            border: 1px solid #18A7B9;
            border-top-left-radius: 42px;
            border-bottom-right-radius: 42px;
            margin-top: 30px;
            transition: all linear .3s;

            &:hover {
                background-color: #18A7B9;
                color: #fff;
                -webkit-box-shadow: -2px 34px 32px -10px rgba(24, 167, 185, 0.25);
                -moz-box-shadow: -2px 34px 32px -10px rgba(24, 167, 185, 0.25);
                box-shadow: -2px 34px 32px -10px rgba(24, 167, 185, 0.25);
            }

            i {
                margin-left: 15px;
            }
        }
    }
}

// subscribe ==========================================